.stats-duo {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 2%;
}

.stats-duo .left {
  width: 49%;
} 

.stats-duo .right {
  width: 49%;
}

.reviews {
  width: 50%;
  align-self: center;
}

.video-preview {
  width: 100%;
  height: 500px;
}

/* RESPONSIVE MEDIA QUERIES */
@media (width < 1600px) {
  .reviews {
    width: 60%;
  }
}

@media (width < 1400px) {
  .reviews {
    width: 65%;
  }

  .video-preview {
    height: 450px;
  }
}

@media (width < 1200px) {
  .reviews {
    width: 70%;
  }

  .video-preview {
    height: 400px;
  }
}

@media (width < 1000px) {
  .reviews {
    width: 75%;
  }

  .video-preview {
    height: 350px;
  }
}

@media (width < 800px) {
  .stats-duo {
    flex-direction: column;
    gap: 24px;
  }

  .stats-duo .left {
    width: 100%;
  }

  .stats-duo .right {
    width: 100%;
  }

  .reviews {
    width: 80%;
  }

  .video-preview {
    height: 300px;
  }
}

@media (width < 600px) {
  .reviews {
    width: 85%;
  }

  .video-preview {
    height: 250px;
  }
}

@media (width < 400px) {
  .reviews {
    width: 100%;
  }

  .video-preview {
    height: 200px;
  }
}