.navbar-container {
  height: var(--navbar-height);

  display: flex;
  flex-direction: row;

  padding-left: 40px;
  padding-right: 40px;

  background-color: var(--background);
  border-bottom: solid 1px var(--foreground);
}

.logo-link {
  margin-top: 4px;
}

.logo {
  width: 32px;
}

.logo:hover {
  cursor: pointer;
}

.navbar-buttons button {
  font-family: var(--header-font);
  font-size: 1rem;
  font-weight: 600;

  background-color: transparent;
  border: none;
  cursor: pointer;

  color: var(--foreground);
}

.navbar-buttons button:hover {
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: row;

  align-self: center;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 16px;

  align-self: center;
  margin-left: auto;
}