.proj-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.intro_section p {
    font-size: 2rem;
}

.header-spacer-top {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-spacer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.port-subheading {
    padding-bottom: 5px;
}

@media screen and (max-width: 640px) {
    .header-spacer-top {
        padding: 0px;
    }

    .header-spacer-bottom {
        padding-top: 10px;
    }

    .intro_section p {
        font-size: 1.25rem;
    }

    .proj-cols {
        display: block;
    }

    .col-spacing {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 420px) {
    .header-spacer-top {
        padding: 0px;
    }

    .header-spacer-bottom {
        padding-top: 10px;
    }

    .intro_section p {
        font-size: 1.25rem;
    }

    .proj-cols {
        display: block;
    }

    .col-spacing {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 360px) {
    .header-spacer-top {
        padding: 0px;
    }

    .header-spacer-bottom {
        padding-top: 10px;
    }

    .intro_section p {
        font-size: 1.25rem;
    }

    .proj-cols {
        display: block;
    }

    .col-spacing {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}