.proj-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.intro_section p {
    font-size: 2rem;
}

.header-spacer-top {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-spacer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro_section h1 {
    line-height: 1.5;
}

.port-subheading {
    padding-bottom: 5px;
}
