.contact.section {
    padding-bottom: 6.25rem;
}

.contact__container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.contact__icons {
    display: flex;
    padding-left: 1rem;
    column-gap: 3rem;
}

.contact__icons-link {
    color: var(--background-color);
    font-size: 1.3rem;
}

.contact__icons-link:hover {
    color: #f7cac9;
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .contact__container {
        grid-template-columns: 300px 360px;
        justify-content: center;
    }
    .contact__form-group {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: 310px;
        row-gap: 1.875rem;
    }

    .contact__info {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .contact__container {
        grid-template-columns: 1fr;
    }
}