.navbar {
  height: 100px;
  padding-left: 200px;
  padding-right: 190px;
}

.navbar_logo {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_buttons {
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar_buttons button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  font-size: 1.2rem;
}

.navbar_buttons button:hover {
  color: #b5a5ce;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar_logo {
    font-size: 0.75rem;
  }

  .navbar_buttons button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar_logo {
    font-size: 0.65rem;
  }

  .navbar_buttons button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar_logo {
    font-size: 0.55rem;
  }

  .navbar_buttons button {
    font-size: 0.80rem;
  }
}

@media screen and (max-width: 360px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar_logo {
    font-size: 0.5rem;
  }

  .navbar_buttons button {
    font-size: 0.75rem;
  }

}