.navbar {
  height: 100px;
  padding-left: 200px;
  padding-right: 190px;
}

.navbar_logo {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_buttons {
  font-size: 1.25rem;
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar_buttons button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar_buttons button:hover {
  color: #571f83;
}