<div class="footer-container">

  <div class="left">
    <a href="https://www.linkedin.com/in/adrienne-leung/"> 
      <p class="footer-body font-light">LinkedIn</p>
    </a>
    <a href="mailto:adrienne.yl07@gmail.com">
      <p class="footer-body font-light">Email</p>
    </a>
  </div>

  <div class="right">
    <p class="footer-subtext font-light">
      Thanks for stopping by!
    </p>
    <p class="footer-subtext font-light">
      This website is currently under construction and some parts are 
      incomplete - check back later to see what I've been up to!
    </p>
  </div>

</div>
