.container_padding {
    padding-left: 40px;
    padding-right: 40px;
}

.column-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.two_col_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.three_col_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}