.home-container {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));

  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--background);
}

.header-container {
  height: 240px;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 16px;

  background-color: var(--foreground);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;

  padding-top: 40px;

  gap: 16px;
}

.case-study-cards {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 2.5%;
}

.card {
  width: 30%;

  border-radius: 16px;

  background-color: var(--foreground);
}

.card img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

/* FONT ADJUSTMENTS */
.home-title {
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 2.5rem;
}

.home-header {
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 1.5rem;
}

.home-subheader {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.25rem;
}

.home-body {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1rem;

  color: #000000;
}

.card-spacing {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-color: #000000;
}
