.footer-container {
  position: relative;
  min-height: 100vh;
}

.padding-container {
  padding-left: 200px;
  padding-right: 200px;
  
  /* for footer */
  padding-bottom: 150px;
}

.proj-col-container {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 0.45fr;
  grid-gap: 30px;
}

.proj-content-container {
  padding-left: 200px;

  padding-bottom: 150px;
}

.proj-toc-container {
  position: fixed;
  right: 0;
  padding-right: 11%;
  border-left: 2px solid grey;
}

.proj-toc-container p {
  color: #111111;
  padding-bottom: 10px;
  padding-left: 15px;
}

.proj-toc-container p:hover {
  color: #b5a5ce;
}

a:visited {
  color: #111111;
}

a:hover {
  color: #b5a5ce;
}

@media screen and (max-width: 360px) {
  .padding-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .proj-col-container {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
  }

  .proj-content-container {
    padding-left: 0px;
  }

  .proj-toc-container {
    display: none;
  }
}