.footer-container {
  position: relative;
  min-height: 100vh;
}

.padding-container {
  padding-left: 200px;
  padding-right: 200px;
  
  /* for footer */
  padding-bottom: 150px;
}

.proj-col-container {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 0.45fr;
  grid-gap: 30px;
}

.proj-content-container {
  padding-left: 200px;

  padding-bottom: 150px;
}

.proj-toc-container {
  position: fixed;
  right: 0;
  padding-right: 185px;
  border-left: 2px solid grey;
}

.proj-toc-container p {
  padding-bottom: 10px;
  padding-left: 10px;
}