.page-container {
  display: flex;

  padding-top: 24px;
  padding-bottom: 96px;

  background-color: var(--background);
}

.page-content {
  display: flex;
  flex-direction: column;

  padding-left: 15%;
  padding-right: 15%;
}

.header-container {
  width: 100%;
}

.header-container img {
  width: 100%;
  max-height: 700px;
}

.header-summary {
  display: flex;
  flex-direction: row;

  padding-top: 8px;
}

.summary-left {
  width: 20%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-right {
  width: 80%;

  padding-left: 20px;
  border-left: 1px solid var(--foreground);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-text-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.body-container {
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 36px;
}

.content-container {
  border-radius: 16px;

  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--foreground);
}

.content-body-container {
  padding-top: 24px;
}

.body-text-group {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.indexed-text-group {
  display: flex;
  flex-direction: row;

  gap: 16px;
}

.line-divider {
  border-top: 1px solid #000000;
  margin: 32px 0;
}

.duocard {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 2%;
}

.duocard .card {
  width: 49%;
}

.card {
  border-radius: 10px;
  background-color: var(--highlight);
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.duocard .card p {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
}

.context-left {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.problem {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.learning {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.product {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.letter-tail {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 32px;
}

.hero-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* STICKY NAVBAR */
/* .sticky-navbar {
  padding-left: 2.5%;
} */

.sticky-navbar {
  display: none;
}

/* FONT ADJUSTMENTS */
.page-title {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1.5rem;

  margin-bottom: -16px;
}

.header-title {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1rem;
}

.header-body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
}

.content-header {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1.5rem;
}

.content-subheader {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1.25rem;
}

.content-body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
}

.content-section-title {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.75rem;

  letter-spacing: 10%;
}

.number-index {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1.25rem;

  color: #999999;
}

/* SPACING HELPERS */
.top-spacer-32 {
  padding-top: 32px;
}

.top-spacer-24 {
  padding-top: 24px;
}

.top-spacer-16 {
  padding-top: 16px;
}

.top-spacer-8 {
  padding-top: 8px;
}