.app-icon {
    width: 50px;
}

.idea-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: solid 2px black;
    border-radius: 20px;
}

.idea-col p {
    width: 80%;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.idea-icon {
    padding-top: 20px;
}

.epi-table table, th, td {
    border: 1px solid black;
}

.epi-table th {
    background-color: purple;
}

.epi-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    
}

.branding {
    width: 50%;
}