.app-icon {
    width: 50px;
}

.idea-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: solid 2px black;
    border-radius: 20px;
}

.idea-col p {
    width: 80%;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empty-cell {
    border: none;
}

.idea-icon {
    padding-top: 24px;
}

.epi-table table, th, td {
    border: 1px solid black;
}

.epi-table {
    border-collapse: collapse;
}

.epi-table th {
    background-color: #571F83;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.epi-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.epi-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.branding {
    width: 50%;
}